<%= render 'layouts/navbar' %>

<div class="container" id="edit-reservation">
  <h1>Editing Reservation</h1>

  <%= render 'form', reservation: @reservation %>

  <%= link_to 'Show', @reservation %> |
  <%= link_to 'Back', reservations_path %>
</div>

<%= render 'layouts/footer' %>
