<%= render 'layouts/navbar' %>

<div class="container" id="reservation-homepage">
  <p id="notice"><%= notice %></p>

  <h1>Reservations</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start day</th>
        <th>End day</th>
        <th colspan="6"></th>
      </tr>
    </thead>

    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= reservation.name %></td>
          <td><%= reservation.start_time %></td>
          <td><%= reservation.end_time %></td>
          <td><%= link_to 'Show Details', reservation %></td>
          <% if current_user.id == reservation.user_id %>
            <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
            <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Reservation', new_reservation_path %>
</div>

<%= render 'layouts/footer' %>
