<%= render 'layouts/navbar' %>

<div class="container" id="calendar-view">
  <%= month_calendar events: @reservations do |date, reservations| %>
    <%= date %>
    <% reservations.each do |reservation| %>
        <div>
          <strong><%= reservation.name %></strong>
        </div>
      <% end %>
  <% end %>
</div>

<%= render 'layouts/footer' %>
