<%= render 'layouts/navbar' %>

<div class="container" id="calendar-view">
  <%= month_calendar events: @reservations do |date, reservations| %>
    <%= date.day %>
    <% reservations.each do |reservation| %>
        <div>
          <strong><%= link_to reservation.name, reservation_path(reservation) %></strong>
        </div>
      <% end %>
  <% end %>
  <br>
  <h2>See photos of #TheWoodenTent</h2>
</div>

<%= render 'layouts/footer' %>
